@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #333333;
}

body {
    color: var(--foreground);
    background-image: url("./img/background.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    font-family: inherit;
}

ol,
ul {
    list-style-type: none;
}

img {
    vertical-align: text-bottom;
}

button {
    border: none;
    background: 0 0;
}
